/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.full-width {
  width:100%
}

.input-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.margin-left-2 {
  margin-left: 2em!important;
}

.margin-left-1{
  margin-left: 1em !important;
}

.margin-top-2 {
  margin-top: 2em !important;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

a.no-style {
  color: inherit;
  text-decoration: inherit;
}
