<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1 class="title">Asolvi Assignment</h1>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <div style="padding: 1em">
    <router-outlet></router-outlet>

  </div>
</mat-sidenav-container>


