<mat-card>
  <mat-card-header>
    <mat-card-title><h2>{{pageTitle}}</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="mode == 'create' || event;else spinner">
    <form class="input-form" [formGroup]="eventForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="full-width">
        <input matInput placeholder="Title" formControlName="title" [errorStateMatcher]="matcher">
        <mat-error *ngIf="eventForm.get('title').hasError('required')">
          Title is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea matInput placeholder="Describe the event" rows="5" formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Address" formControlName="address">
        <mat-error *ngIf="eventForm.get('address').hasError('required')">
          Address is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input readonly matInput [matDatepicker]="eventDatePicker" [min]="minDate" placeholder="Date" formControlName="date" [errorStateMatcher]="matcher">
        <mat-datepicker-toggle matSuffix [for]="eventDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #eventDatePicker></mat-datepicker>
        <mat-error *ngIf="eventForm.get('date').hasError('required')">
          Date is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Ticket Price" type="number" formControlName="ticketPrice" [errorStateMatcher]="matcher">
        <mat-error *ngIf="eventForm.get('ticketPrice').hasError('min')">
          Ticket Price should be <strong>greater than 0</strong>
        </mat-error>
        <mat-hint>Leave empty if event is free.</mat-hint>
      </mat-form-field>

      <mat-card-actions>
        <div class="margin-top-2 margin-left-1">
          <button mat-raised-button color="primary" type="submit">Save</button>
          <button mat-raised-button color="warn" type="button" class="margin-left-2" (click)="goBack()">Discard</button>
          <button *ngIf="mode == 'edit'" mat-raised-button type="button" class="margin-left-2" (click)="resetForm()">Reset Form</button>
        </div>
      </mat-card-actions>

    </form>
    </div>
  </mat-card-content>
</mat-card>


<ng-template #spinner>
  <div style="text-align: center; min-height: 200px;">
    <mat-spinner style="margin:0 auto;"></mat-spinner>
  </div>
</ng-template>
