<div *ngIf="event;else spinner">
  <mat-card>
    <mat-card-header>
      <mat-card-title><h2>{{event.title}}</h2></mat-card-title>
      <mat-card-subtitle>
        <mat-icon>calendar_today</mat-icon>
        {{event.date | date:'fullDate'}}
      </mat-card-subtitle>
      <mat-card-subtitle>
        <mat-icon>place</mat-icon>
        {{event.address}}
      </mat-card-subtitle>
      <mat-card-subtitle>
        <mat-icon>attach_money</mat-icon>
        <span *ngIf="event.ticketPrice">{{event.ticketPrice || currency}}</span>
        <span *ngIf="!event.ticketPrice">Free</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{event.description}}</p>
    </mat-card-content>
  </mat-card>
</div>


<ng-template #spinner>
  <div style="text-align: center; min-height: 200px;">
    <mat-spinner style="margin:0 auto;"></mat-spinner>
  </div>
</ng-template>

