

<div *ngIf="eventsDataSource;else spinner">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h2 class="display-2">Events</h2>
      <span class="toolbar-spacer"></span>
      <a mat-button routerLink="/events/create"><mat-icon area-label="add" matTooltip="Create new event">add</mat-icon></a>
    </mat-toolbar-row>
  </mat-toolbar>
  <table #table mat-table [dataSource]="eventsDataSource" class="mat-elevation-z8 full-width">
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Title</th>
      <td mat-cell *matCellDef="let event"><a class="no-style" routerLink="/events/details/{{event.id}}">{{event.title}}</a></td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let event">{{event.date | date:'fullDate'}}</td>
    </ng-container>

    <ng-container matColumnDef="ticketPrice">
      <th mat-header-cell *matHeaderCellDef>Ticket Price</th>
      <td mat-cell *matCellDef="let event"><div *ngIf="event.ticketPrice;else free">{{event.ticketPrice | currency}}</div></td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let event">
        <button routerLink="/events/edit/{{event.id}}" mat-icon-button color="primary"><mat-icon area-label="edit" matTooltip="Edit event">edit</mat-icon></button>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let event">
        <button (click)="delete(event)" mat-icon-button color="warn"><mat-icon area-label="delete" matTooltip="Delete event">delete</mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

<ng-template #free><span style="color: green;">Free</span></ng-template>


<ng-template #spinner>
  <div style="text-align: center; min-height: 200px;">
    <mat-spinner style="margin:0 auto;"></mat-spinner>
  </div>
</ng-template>
