<h1 mat-dialog-title>Confirmation</h1>
<div mat-dialog-content>
  <p>{{confirmationMessage}}</p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close(false)">No Thanks</button>
  <button mat-button color="warn" (click)="dialogRef.close(true)">Yes</button>
</div>
